<h2 style="margin-bottom:15px"> Список проблем и решений </h2>
<table class="table table-hover table-condensed table-bordered">
   <thead>
      <tr>
         <td>Проблема</td>
         <td>Решение</td>
         <td>Оценка</td>
         <td>Обновить</td>
         <td>Удалить</td>
      </tr>
   </thead>
   <tbody>
      {{#each issues}}
       <tr>
         <td>{{this.issue}}</td>
         <td>{{this.solution}}</td>
         <td><input id="input-id2" type="text" class="rating" data-size="xxs" readonly="true" showClear="false" value={{this.mark}}></td>
         <td>
            <form method='GET' action='/update/?id='+{{this.id}}>
              <input type="hidden" name="id" value={{this.id}}>
              <button type="submit" class="btn btn-default btn-m btn-primary" value="Обновить">+</button>
            </form>
         </td>
         <td>
            <form method="POST" action="/delete">
              <input type="hidden" name="delete" value={{this.id}}>
              <button type="submit" class="btn btn-default btn-m btn-danger" value="Удалить">+</button>
            </form>
         </td>
      </tr>
    {{/each}}
   </tbody>
</table>
<form method="get" action="/add">
  <input class="btn btn-default btn-success" type="submit" value="Новая запись" />
</form>